<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PageObjectTest Example">
    <parameter name="browserType" value="chrome" />
    <parameter name="loginURL" value="https://wds.samsung.com/wds/sso/login/forwardLogin.do" />
    <parameter name="qaURLs" value=""/>
    
<!--    Nhớ thay ký tự & = &amp;  -->
    <parameter name="hrefLinks" value= "https://www.facebook.com/SamsungSingapore,https://www.instagram.com/samsungsg/"/>
    <test name="AutomationTest">
        <classes>
            <class name="projectss.testcases.CommonPageTest">
                <methods >
<!--                    <include name="signIn" />-->
<!--                    <include name="verifyAssetPath" />-->
                    <include name="verifyBrokenInputLinks" />
                </methods>
            </class>
        </classes>
    </test>
</suite>